<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="bodytext">
        <f:format.crop maxCharacters="100">{bodytext}</f:format.crop>
    </div>

    <v:content.resources.fal table="tt_content" field="assets" uid="{uid}" as="files">
        <f:for each="{files}" as="file">
            <f:image src="{file.uid}" treatIdAsReference="1" maxWidth="120" alt="{file.properties.alt}" title="{file.properties.title}"/>
        </f:for>
    </v:content.resources.fal>

</html>
