<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section id="c{data.uid}" class="ce-slider ce-uid-{data.uid}  {f:if(condition: data.space_before_class, then: ' ce-space-before-{data.space_before_class}')} {f:if(condition: data.space_after_class, then: ' ce-space-after-{data.space_after_class}')}">

	<div class="ce-inner">

        <f:if condition="{data.header}">
            <f:render partial="Header" arguments="{_all}" />
        </f:if>

        <f:if condition="{images}">
            <div class="ce-slider-slides">
                <f:for each="{images}" as="image">
                    <figure>
                        <f:render partial="Image" arguments="{image: image, maxImageWidth: 600, clickenlarge: data.image_zoom}" />
                    </figure>
                </f:for>
            </div>
        </f:if>

	</div>

</section>
</html>