<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section id="c{data.uid}" class="ce-text-image ce-uid-{data.uid} ce-layout-{data.layout} ce-image-position-{data.imageorient} {f:if(condition: data.space_before_class, then: ' ce-space-before-{data.space_before_class}')} {f:if(condition: data.space_after_class, then: ' ce-space-after-{data.space_after_class}')}">

	<div class="ce-inner">

        <div class="ce-text-image-main flex-row">
            <div class="ce-text-image-image">
                <f:if condition="{images}">
                    <f:render partial="Image" arguments="{image: images.0, maxImageWidth: maxImageWidth, clickenlarge: true, settings:settings}" />
                </f:if>
            </div>
            <div class="ce-text-image-text">
                <f:if condition="{data.header}">
                    <f:render partial="Header" arguments="{_all}" />
                </f:if>
                <div class="bodytext">
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </div>
        </div>

	</div>

</section>
</html>
